Download Schema

In [1]:
import os
from vaultdb import download
from vaultdb import login
database_name = "finance"
filename = f"/tmp/{database_name}.db"
if not os.path.isfile(filename):
    url = f"http://test-public-storage-440955376164.s3-website.us-east-1.amazonaws.com/catalogs/{database_name}.db"
    filename = download(url, filename)

Open Database and Login

In [2]:
connection = login.cognito("vaultdb","test123", filename, aws_region="us-east-1")

In [3]:
connection.execute("SELECT * FROM vaultdb_configs").fetchdf()

,database_name,database_oid,schema_name,schema_oid,config_name,config_oid,internal,temporary,config_value
0,finance,1102,security,1107,application_name,1130,False,False,test
1,finance,1102,security,1107,identity_pool_id,1136,False,False,us-east-1:3aa03da0-b11e-444d-ad5d-ec7e4844819f
2,finance,1102,security,1107,remote,1142,False,False,s3://test-data-440955376164/merged_data
3,finance,1102,security,1107,remote_merge_path,1148,False,False,s3://test-public-storage-440955376164
4,finance,1102,security,1107,user_pool_client_id,1154,False,False,2ckshe5jnhi3cc2akodabuigct
5,finance,1102,security,1107,user_pool_id,1160,False,False,us-east-1_tKxja4leu

In [4]:
connection.execute("select * from duckdb_secrets();").fetch_df()

,name,type,provider,persistent,storage,scope,secret_string
0,vaultdb,s3,config,False,memory,"[s3://, s3n://, s3a://]",name=vaultdb;type=s3;provider=config;serializa...

In [5]:
connection.execute("select * from information_schema.tables").fetchdf()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,finance,main,demo,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,finance,main,tickers,BASE TABLE,None,None,None,None,None,YES,NO,None,None

In [6]:
connection.execute("select * from tickers").fetchdf()

Empty DataFrame
Columns: [exchange, symbol, name, lastsale, netchange, pctchange, marketCap, country, ipoyear, volume, sector, industry, url]
Index: []

Data Inheritance

In [7]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM tickers").fetchdf()

,exchange,symbol,name,lastsale,netchange,pctchange,marketCap,country,ipoyear,volume,sector,industry,url
0,amex,AAMC,Altisource Asset Management Corp Com,1.85,-0.2600,-12.322,4.725847e+06,United States,NaN,382,Finance,Real Estate,/market-activity/stocks/aamc
1,amex,ACU,Acme United Corporation. Common Stock,34.84,0.2300,0.665,1.275799e+08,United States,1988.0,7002,Consumer Discretionary,Industrial Machinery/Components,/market-activity/stocks/acu
2,amex,ADRT,Ault Disruptive Technologies Corporation Commo...,16.6,0.6000,3.750,2.386250e+08,,2022.0,37747,Finance,Blank Checks,/market-activity/stocks/adrt
3,amex,AE,Adams Resources & Energy Inc. Common Stock,26.9,0.2900,1.090,6.905510e+07,United States,1980.0,13670,Energy,Oil Refining/Marketing,/market-activity/stocks/ae
4,amex,AEF,abrdn Emerging Markets Equity Income Fund Inc....,5.365,0.0550,1.036,5.759998e+08,United States,NaN,48724,Finance,Finance/Investors Services,/market-activity/stocks/aef
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7051,nyse,ZTR,Virtus Total Return Fund Inc.,5.43,0.0300,0.556,0.000000e+00,United States,1988.0,271824,Finance,Investment Managers,/market-activity/stocks/ztr
7052,nyse,ZTS,Zoetis Inc. Class A Common Stock,175.6,0.7900,0.452,8.012543e+10,United States,2013.0,1251823,Health Care,Biotechnology: Pharmaceutical Preparations,/market-activity/stocks/zts
7053,nyse,ZUO,Zuora Inc. Class A Common Stock,9.64,0.0400,0.417,1.427684e+09,United States,2018.0,1090684,Technology,Computer Software: Prepackaged Software,/market-activity/stocks/zuo
7054,nyse,ZVIA,Zevia PBC Class A Common Stock,0.6745,0.0145,2.197,4.876491e+07,United States,2021.0,406333,Consumer Staples,Beverages (Production/Distribution),/market-activity/stocks/zvia
7055,nyse,ZWS,Zurn Elkay Water Solutions Corporation Common ...,29.58,0.4000,1.371,5.108373e+09,United States,2012.0,629889,Industrials,Industrial Machinery/Components,/market-activity/stocks/zws

View Quotes Data

In [ ]:
connection.execute(f"PRAGMA disable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

Enable Inheritance

In [ ]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

Push local Data

In [ ]:
connection.execute(f'PUSH DATABASE {database_name};').fetchdf()

Truncate Local data

In [ ]:
connection.execute(f'TRUNCATE DATABASE {database_name};').fetchdf()

Create Objects Locally

In [ ]:
connection.execute('BEGIN TRANSACTION;')
connection.execute('CREATE TABLE demo2 (col1 INT, col2 INT, col3 INT, col4 INT, col5 INT, col6 INT, col7 INT, col8 INT)')
connection.execute("INSERT INTO demo2 VALUES (1,2,3,4,5,6,7,8), (11,22,33,44,55,66,77,88), (111,222,333,444,555,666,777,888), (1111,2222,3333,4444,5555,6666,7777,8888)")
connection.execute('COMMIT;')

Push Schema Changes on to server

In [ ]:
connection.execute(f'PUSH DATABASE {database_name};').fetchdf()