Download Schema

In [1]:
import os
from vaultdb import download
from duckdb import login
database_name = "test"
filename = f"/workspace/{database_name}.db"
if not os.path.isfile(filename):
    url = f"http://test-public-storage-440955376164.s3-website.us-east-1.amazonaws.com/catalogs/{database_name}.db"
    filename = download(url, filename)

Open Database and Login

In [2]:
import duckdb
connection = duckdb.login.cognito("vaultdb","test123", filename, aws_region="us-east-1")

In [3]:
connection.execute("SELECT * FROM vaultdb_configs").fetchdf()

,database_name,database_oid,schema_name,schema_oid,config_name,config_oid,internal,temporary,config_value
0,test,1102,security,1107,application_name,1274,False,False,test
1,test,1102,security,1107,identity_pool_id,1280,False,False,us-east-1:3aa03da0-b11e-444d-ad5d-ec7e4844819f
2,test,1102,security,1107,remote,1286,False,False,s3://test-data-440955376164/merged_data
3,test,1102,security,1107,remote_merge_path,1292,False,False,s3://test-public-storage-440955376164
4,test,1102,security,1107,user_pool_client_id,1298,False,False,2ckshe5jnhi3cc2akodabuigct
5,test,1102,security,1107,user_pool_id,1304,False,False,us-east-1_tKxja4leu

In [4]:
connection.execute("select * from duckdb_secrets();").fetch_df()

,name,type,provider,persistent,storage,scope,secret_string
0,vaultdb,s3,config,False,memory,"[s3://, s3n://, s3a://]",name=vaultdb;type=s3;provider=config;serializa...

In [5]:
connection.execute("select * from information_schema.tables").fetchdf()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,test,main,actions,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,test,main,another_T,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,test,main,balance_sheet,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,test,main,cashflow,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,test,main,demo2,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,test,main,dividends,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,test,main,earnings_dates,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,test,main,income_stmt,BASE TABLE,None,None,None,None,None,YES,NO,None,None
8,test,main,insider_purchases,BASE TABLE,None,None,None,None,None,YES,NO,None,None
9,test,main,insider_roster_holders,BASE TABLE,None,None,None,None,None,YES,NO,None,None
10,test,main,insider_transactions,BASE TABLE,None,None,None,None,None,YES,NO,None,None
11,test,main,institutional_holders,BASE TABLE,None,None,None,None,None,YES,NO,None,None
12,test,main,major_holders,BASE TABLE,None,None,None,None,None,YES,NO,None,None
13,test,main,mutualfund_holders,BASE TABLE,None,None,None,None,None,YES,NO,None,None
14,test,main,news_links,BASE TABLE,None,None,None,None,None,YES,NO,None,None
15,test,main,option_chain,BASE TABLE,None,None,None,None,None,YES,NO,None,None
16,test,main,quarterly_balance_sheet,BASE TABLE,None,None,None,None,None,YES,NO,None,None
17,test,main,quarterly_cashflow,BASE TABLE,None,None,None,None,None,YES,NO,None,None
18,test,main,quarterly_income_stmt,BASE TABLE,None,None,None,None,None,YES,NO,None,None
19,test,main,quote,BASE TABLE,None,None,None,None,None,YES,NO,None,None
20,test,main,recommendations,BASE TABLE,None,None,None,None,None,YES,NO,None,None
21,test,main,recommendations_summary,BASE TABLE,None,None,None,None,None,YES,NO,None,None
22,test,main,shares_outstanding,BASE TABLE,None,None,None,None,None,YES,NO,None,None
23,test,main,splits,BASE TABLE,None,None,None,None,None,YES,NO,None,None
24,test,main,tbl_ProductSales,BASE TABLE,None,None,None,None,None,YES,NO,None,None
25,test,main,tickers,BASE TABLE,None,None,None,None,None,YES,NO,None,None
26,test,main,upgrades_downgrades,BASE TABLE,None,None,None,None,None,YES,NO,None,None

In [6]:
connection.execute("SET timezone='America/New_York';")
connection.execute("select * from quote where date='2024-06-24'").fetchdf()

UnknownTimeZoneError: '/etc/localtime'

Data Inheritance

In [11]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

,date,open,high,low,close,volume,dividends,stock_splits,symbol
0,1986-03-13 00:00:00-05:00,0.088542,0.101563,0.088542,0.097222,1031788800,0.0,0.0,MSFT
1,1986-03-14 00:00:00-05:00,0.097222,0.102431,0.097222,0.100694,308160000,0.0,0.0,MSFT
2,1986-03-17 00:00:00-05:00,0.100694,0.103299,0.100694,0.102431,133171200,0.0,0.0,MSFT
3,1986-03-18 00:00:00-05:00,0.102431,0.103299,0.098958,0.099826,67766400,0.0,0.0,MSFT
4,1986-03-19 00:00:00-05:00,0.099826,0.100694,0.097222,0.098090,47894400,0.0,0.0,MSFT
...,...,...,...,...,...,...,...,...,...
9642,2024-06-17 00:00:00-04:00,442.589996,450.940002,440.720001,448.369995,20790000,0.0,0.0,MSFT
9643,2024-06-18 00:00:00-04:00,449.709991,450.140015,444.890015,446.339996,17112500,0.0,0.0,MSFT
9644,2024-06-20 00:00:00-04:00,446.299988,446.529999,441.269989,445.700012,19877400,0.0,0.0,MSFT
9645,2024-06-21 00:00:00-04:00,447.380005,450.579987,446.510010,449.779999,34187100,0.0,0.0,MSFT
9646,2024-06-24 00:00:00-04:00,449.799988,452.750000,446.410004,447.670013,15666601,0.0,0.0,MSFT

Insert Data Locally

In [8]:
connection.execute("INSERT INTO another_T VALUES (81,92,93,94,95,96,97,98)")

View Local Data

In [10]:
connection.execute(f"PRAGMA disable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

Empty DataFrame
Columns: [date, open, high, low, close, volume, dividends, stock_splits, symbol]
Index: []

Enable Inheritance

In [13]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM another_T").fetchdf()

   col1  col2  col3  col4  col5  col6  col7  col8
0    81    92    93    94    95    96    97    98

Push local Data

In [14]:
connection.execute('PUSH DATABASE dev;').fetchdf()

Empty DataFrame
Columns: [Success]
Index: []

Truncate Local data

In [9]:
connection.execute('TRUNCATE DATABASE test;').fetchdf()

Empty DataFrame
Columns: [Success]
Index: []

View remote Data

In [16]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM another_T").fetchdf()

   col1  col2  col3  col4  col5  col6  col7  col8
0    81    92    93    94    95    96    97    98

Create Objects Locally

In [17]:
connection.execute('BEGIN TRANSACTION;')
connection.execute('CREATE TABLE demo2 (col1 INT, col2 INT, col3 INT, col4 INT, col5 INT, col6 INT, col7 INT, col8 INT)')
connection.execute("INSERT INTO demo2 VALUES (1,2,3,4,5,6,7,8), (11,22,33,44,55,66,77,88), (111,222,333,444,555,666,777,888), (1111,2222,3333,4444,5555,6666,7777,8888)")
connection.execute('COMMIT;')

Push Schema Changes on to server

In [18]:
connection.execute('PUSH DATABASE dev;').fetchdf()

Empty DataFrame
Columns: [Success]
Index: []