Download Schema

Open Database and Login

In [ ]:
from vaultdb import clone
database_name = "finance"
connection = clone("vaultdb","test123", database_name, aws_region="us-east-1")

In [ ]:
connection.execute("SELECT * FROM vaultdb_configs").fetchdf()

In [ ]:
connection.execute("select * from duckdb_secrets();").fetch_df()

In [ ]:
connection.execute("select * from information_schema.tables").fetchdf()

In [ ]:
connection.execute("select * from tickers").fetchdf()

Data Inheritance

In [ ]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM tickers").fetchdf()

View Quotes Data

In [ ]:
connection.execute(f"PRAGMA disable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

Enable Inheritance

In [ ]:
connection.execute(f"PRAGMA enable_data_inheritance;")
connection.execute("SELECT * FROM quote").fetchdf()

Push local Data

In [ ]:
connection.execute(f'PUSH DATABASE {database_name};').fetchdf()

Truncate Local data

In [ ]:
connection.execute(f'TRUNCATE DATABASE {database_name};').fetchdf()

Create Objects Locally

In [ ]:
connection.execute('BEGIN TRANSACTION;')
connection.execute('CREATE TABLE demo2 (col1 INT, col2 INT, col3 INT, col4 INT, col5 INT, col6 INT, col7 INT, col8 INT)')
connection.execute("INSERT INTO demo2 VALUES (1,2,3,4,5,6,7,8), (11,22,33,44,55,66,77,88), (111,222,333,444,555,666,777,888), (1111,2222,3333,4444,5555,6666,7777,8888)")
connection.execute('COMMIT;')

Push Schema Changes on to server

In [ ]:
connection.execute(f'PUSH DATABASE {database_name};').fetchdf()